<div class="row pt-5 my-5">
    <h1 class="col ">Редактирование дохода/расхода</h1>
</div>

<div class="row pb-3">
    <div class="col-3">
        <select class="form-select">
            <option  id="selectIncome">Доход</option>
            <option selected id="selectExpense">Расход</option>
        </select>
    </div>
</div>
<div class="row mb-4">
    <div class="col col-lg-2">
        <button id="createIncome" type="button" class="btn btn-success">Сохранить
        </button>
    </div>
    <div class="col">
        <a href="#/income-outcome" type="button" id="createExpense" type="button" class="btn btn-danger">Отмена
        </a>
    </div>
</div>