@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url("../fonts/Roboto.ttf");
}

body {
    font-family: 'Roboto', "sans-serif";
    height: 100vh;
    width: 100vw;
    color: #052C65;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

.form_container {
    height: 100vh;
}

.logo img {
    width: 171px;
}

.form_title {
    color: #052C65;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.form-input-img {
    width: 38px;
}

.form_input {
    color: #6C757D;
    font-size: 15px;
    font-weight: 400;
}

.form_login-link, .form-check-label {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

.form_login-link a {
    color: #0D6EFD;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
}

.custom-buttons-color {
    color: #6C757D;
    border-color: #6C757D;
}
.active_background {
    background-color: #6C757D;
    color: #ffffff;
}

.custom-color {
    color: #052C65;
}

.svg_toggle {
    fill: white;
    transform: rotate(90deg);
}

.border-bottom, .border-top, .border-end {
    border-color: #D9D9D9 !important;
}

.modal-text {
    color: #290661;
}

.dates {
    width: 100px !important;
}

#btnToggle {
    background-color: #0D6EFD;
    color: #FFFFFF;
}

#btnToggle.collapsed {
    background-color: #FFFFFF;
    color: #052C65;
}
